/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
	/* 以下代表透明度为0.5 */
	background: rgba(255, 255, 255, .5);
}

/*侧边栏页面*/
#aside-content>.card-widget {
	background: rgba(255, 255, 255, .6);
}

#aside-content>.sticky_layout>.card-widget {
	background: rgba(255, 255, 255, .6);
}

/*文章页面*/
.layout>#post {
	background: rgba(255, 255, 255, .6);
}

/*分类页面*/
.layout>#page {

	background: rgba(255, 255, 255, .6);
}

/*时间轴页面*/
.layout>#archive {
	background: rgba(255, 255, 255, .6);
}

.layout>#post{
    background: rgba(255,255,255,.8);
}
#aside-content>.sticky_layout>.card-widget{
    background: rgba(255,255,255,.8);
}
/*侧边栏页面*/
#aside-content>.card-widget  {
	background: rgba(255,255,255,0.8);
}

[data-theme=dark] #aside-content>.card-widget  {
	background: rgba(22, 18, 18, 0.8);
}
[data-theme=dark] #aside-content>.sticky_layout>.card-widget{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] .layout>#post{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] .layout>#page{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] .layout>#archive{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] .layout>#shuoshuo{
    background: rgba(25,25,25,.8);
}